Flask==0.10.1
Flask-Login==0.2.9
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
gunicorn==18.0
pip install -U -f https://google-visualization-python.googlecode.com/files/gviz_api_py-1.8.2.tar.gz gviz-api-py
itsdangerous==0.23
virtualenv==1.10.1
wsgiref==0.1.2
