.masthead {
    padding: 30px 0 30px;
    margin-bottom: 0;
}

.masthead p {
    line-height: 1;
    text-align: center;
}

.header-section {
    padding: 50px 0;
    background: #222;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    color: #FFF;
}

.header-row {
    width: 960px;
    margin: auto;
}

.header-push {
    height: 394px;
    background-color: rgba(91, 194, 207, .5);
    border:2px solid rgba(255,255,255,.5);
    border-radius:25px;
}

.main {
    padding-top: 20px;
    min-height: 610px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.flashes {
    list-style-type: none;
    margin-left: 0;
}

input.ng-dirty.ng-valid {
    border-color: green;
}

input.ng-dirty.ng-invalid {
    border-color: red;
}